<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
        <a href="/" Home></a>
        <a href="/listtasks" List Tasks></a>
        <form action="/newtaskrecord" method = POST>
            Task Name <input type = "text" name = "taskName"/><br>
            Task Due <input type = "string" name = "taskDue"/><br>
            Task Desc <input type = "text" name = "taskDesc"/><br>
            <button>Submit</button>
        </form>
    </body>
</html>