<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <style>
            table,th,td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body bgcolor="pink">
    <body>
        <h1>
            <a href="/">Home</a>
            <a href="/newtask" >Add New Task</a><br>
        </h1>  
        <h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Description</th>
                </tr>
                    <% for ( var i =0; i< Task.length;i++){ %>
                    <tr>
                        <td>
                            <%= Task[i].taskName %>
                        </td>
                        <td>
                            <%= Task[i].taskDue %>
                        </td>
                        <td>
                            <%= Task[i].taskDesc %>
                        </td>
                    </tr>
                    <% }%>
            <table>
        </h2>
    </body>
</html>